html {
    scroll-behavior: smooth;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative; 
    z-index: 0; 
    height: 800vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.5s, color 0.5s;
}

header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 1.5px; /* Adjust the height of the line */
    background-color: var(--first-rect-font); /* Adjust the color of the line */
    transform: scaleY(0); /* Initially hide the line */
    transition: background-color 0.5s, color 0.5s; /* Smooth transition */
    z-index: -1; /* Place it behind other header content */
}

header.scrolled::after {
    transform: scaleY(1); /* Show the line when scrolled */
}


nav ul {
    list-style-type: none;
    padding: 0 0 0 -40px;
    margin: 12px;
    display: flex;
    justify-content: flex-start;
}

nav ul li {
    margin: 0 2px; /* Reduced margin to bring headers closer together */
}

nav ul li:not(:last-child)::after {
    content: " | "; /* Adds the | separator after each list item except the last */
    margin-left: 2px; /* Adjust the space between the text and the | */
    margin-right: 2px; /* Adjust the space after the | */
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    padding: 15px 0px;
    display: inline-block;
    font-size: 14px; /* Adjusts the font size */
}



main {
    flex-grow: 1;
    padding: 80px 20px 20px;
    position: relative;
}

#content {
    text-align: center;
    position: relative;
    /* z-index: 2; */
}

#shinjer {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 180px;
    z-index: 1; /* Behind the rectangle but above the background */
    top: 25%;
    /* color: transparent; */
    -webkit-text-stroke: 0px var(--first-rect-font); /* Adds a black outline to the text */
}

#li {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 180px;
    z-index: 3; /* Behind the rectangle but above the background */
    top: 50%;
    /* color: transparent; */
    -webkit-text-stroke: 0px var(--first-rect-font); /* Adds a black outline to the text */
}


/*
.highlight {
    position: relative;
    color: blue;
    /* z-index: 5; Above the rectangle */


#rect-one {
    width: 300px; /* Set the width and height to be the same for a sphere */
    height: 210px;
    right: 0;
    background-color: var(--first-rect-bg); /* Color of the sphere */
    color: var(--first-rect-font);
    position: relative; /* Ensures it is fixed to the right side of the screen */
    top: 50%; /* Center vertically based on the top position */
    transform: translateX(215%) translateY(170%); /* Center it vertically */
    z-index: 2; /* Ensures the sphere covers the fixed text */
    display: flex;
    align-items: center;
    justify-content: justify;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px; /* Padding inside the rectangle */
    box-sizing: border-box;
    transition: background-color 0.5s, color 0.5s;
}

.spacer {
    height: -100px; /* Height of the space */
}

#rect-two {
    margin-top: -250px;
    width: 790px;
    height: 500px;
    right: 0;
    background-color: var(--first-rect-bg);
    color: var(--first-rect-font);
    position: relative;
    transform: translateX(50%) translateY(170%);
    z-index: 4;
    display: flex;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden; /* Hide content that overflows the container */
    font-size: 20px;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start; 
    transition: background-color 0.5s, color 0.5s;
}

#rect-two::before {
    content: '';
    position: absolute;
    left: 50%;
    width: 100vw;
    height: 1px;
    background-color: var(--first-rect-font); /* Adjust color as needed */
    transform: translateX(-50%);
    top: 0;
    transition: background-color 0.5s, color 0.5s;
}


.google-maps {
    flex: 1;
    height: 100%;
    overflow: hidden; /* Ensure the image fits within its container */
}

.google-maps img {
    width: 110%;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove bottom space under the image */
}

.text-container {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px; /* Optional: Adjust spacing between image and text */
    overflow: hidden; /* Hide overflow text if any */
    text-align: center; /* Center text horizontally */
}

#rect-three {
    padding-top: 130px;
    width: 1200px;
    height: 700px;
    background-color: var(--first-rect-bg);
    color: var(--first-rect-font);
    position: relative;
    top: 50%; 
    left: 50%;
    transform: translateX(-50%) translateY(95%);
    z-index: 5;
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    transition: background-color 0.5s, color 0.5s;
}

#rect-three::before {
    content: '';
    position: absolute;
    left: 2.5%;
    width: 95%;
    height: 1px;
    background-color: var(--first-rect-font);
    top: 0;
}

#sparsity-box {
    width: 470px;
    height: 370px;
    background-color: var(--first-rect-bg);
    color: var(--first-rect-font);
    position: relative;
    top: 50%;
    left: 8%;
    /* transform: translateY(300%); */
    z-index: 6;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    padding: 10px;
    padding-left: 20px;
    box-sizing: border-box;
    overflow: hidden;
    transition: background-color 0.5s, color 0.5s;
}

#sparsity-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80%; /* Adjust this value to control the image height */
    background: url('tsne.png') no-repeat center center;
    background-size: cover;
    z-index: -1;
}

#sparsity-box::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: var(--first-rect-font); /* Use the font color for the line */
    z-index: 1;
    transition: background-color 0.5s, color 0.5s;
}

#pottery-box {
    width: 410px;
    height: 300px;
    background-color: var(--first-rect-bg);
    color: var(--first-rect-font);
    position: relative;
    top: 50%;
    left: 63%;
    transform: translateY(400%);
    z-index: 6;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    padding: 10px;
    padding-left: 20px;
    box-sizing: border-box;
    overflow: hidden;
    transition: background-color 0.5s, color 0.5s;
}

#pottery-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80%; /* Adjust this value to control the image height */
    background: url('pottery.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1;
}

#pottery-box::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: var(--first-rect-font); /* Use the font color for the line */
    z-index: 1;
    transition: background-color 0.5s, color 0.5s;
}

#mdsim-box {
    width: 410px;
    height: 300px;
    background-color: var(--first-rect-bg);
    color: var(--first-rect-font);
    position: relative;
    top: 50%;
    left: 17%;
    transform: translateY(420%);
    z-index: 6;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    padding: 10px;
    padding-left: 20px;
    box-sizing: border-box;
    overflow: hidden;
    transition: background-color 0.5s, color 0.5s;
}

#mdsim-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80%; /* Adjust this value to control the image height */
    background: url('protein.png') no-repeat center center;
    background-size: cover;
    z-index: -1;
}

#mdsim-box::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: var(--first-rect-font); /* Use the font color for the line */
    z-index: 1;
    transition: background-color 0.5s, color 0.5s;
}

#tribeties-box {
    width: 410px;
    height: 300px;
    background-color: var(--first-rect-bg);
    color: var(--first-rect-font);
    position: relative;
    top: 50%;
    left: 58%;
    transform: translateY(350%); 
    /* transformY was 350% when relative */
    z-index: 6;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    padding: 10px;
    padding-left: 20px;
    box-sizing: border-box;
    overflow: hidden;
    transition: background-color 0.5s, color 0.5s;
}

#tribeties-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80%; /* Adjust this value to control the image height */
    background: url('tribeties.png') no-repeat center center;
    background-size: cover;
    z-index: -1;
}

#tribeties-box::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: var(--first-rect-font); /* Use the font color for the line */
    z-index: 1;
    transition: background-color 0.5s, color 0.5s;
}

.scroll-container {
    height: 100vh; /* Adjust as needed */
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#ripple-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 999;
}

.ripple {
    position: absolute;
    border: 2px solid;
    border-radius: 50%;
    animation: ripple-effect 0.5s linear;
    opacity: 0.5;
}

@keyframes ripple-effect {
    to {
        transform: scale(15);
        opacity: 0;
    }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb); /* Thumb color matches the font */
    border-radius: 0; /* Rectangular shape */
    border: 3px solid transparent; /* Space between the thumb and track */
    background-clip: padding-box; /* Ensures thumb remains within bounds */
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-bg); /* Track color matches the background */
}

/* Firefox support */
body {
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg); /* Thumb color and track color */
    scrollbar-width: thin;
}

